@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url('./NotoSansKR-Light.otf') format('woff2'), url('./NotoSansKR-Light.otf') format('woff'),
    url('./NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('./NotoSansKR-Regular.otf') format('woff2'),
    url('./NotoSansKR-Regular.otf') format('woff'),
    url('./NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('./NotoSansKR-Medium.otf') format('woff2'), url('./NotoSansKR-Medium.otf') format('woff'),
    url('./NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('./NotoSansKR-Bold.otf') format('woff2'), url('./NotoSansKR-Bold.otf') format('woff'),
    url('./NotoSansKR-Bold.otf') format('truetype');
}
