@import './reset.css';
@import './global/fonts/fontface.css';
@import '~antd/dist/antd.css';

* {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 62.5%;
  color: #3c3c3c;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fafafa;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#__next {
  position: relative;
  width: 100vw;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

h4,
p {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: 0;
  outline: none;
  background-color: transparent;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

button,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
}

.ant-input {
  font-size: 1.6rem;
  overflow: hidden;
}

.ant-picker-input > input {
  font-size: 1.6rem;
}

.ant-comment-actions > li {
  display: block;
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
}

.ant-image-img {
  object-fit: cover;
}

a:hover {
  color: #646fd4;
  text-decoration: none;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}
